<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title>Delivery</title>
  <meta name = "format-detection" content = "telephone=no" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
	<link rel="shortcut icon" href="images/favicon/logo.ico" type="image/x-icon">
	<script>!function(){function e(e,t,n){e.addEventListener?e.addEventListener(t,n,!1):e.attachEvent&&e.attachEvent("on"+t,n)}function t(e){return window.localStorage&&localStorage.font_css_cache&&localStorage.font_css_cache_file===e}function n(){if(window.localStorage&&window.XMLHttpRequest)if(t(o))a(localStorage.font_css_cache);else{var n=new XMLHttpRequest;n.open("GET",o,!0),e(n,"load",function(){4===n.readyState&&(a(n.responseText),localStorage.font_css_cache=n.responseText,localStorage.font_css_cache_file=o)}),n.send()}else{var c=document.createElement("link");c.href=o,c.rel="stylesheet",c.type="text/css",document.getElementsByTagName("head")[0].appendChild(c),document.cookie="font_css_cache"}}function a(e){var t=document.createElement("style");t.innerHTML=e,document.getElementsByTagName("head")[0].appendChild(t)}var o="fonts.css";window.localStorage&&localStorage.font_css_cache||document.cookie.indexOf("font_css_cache")>-1?n():e(window,"load",n)}();</script>
  <link rel="stylesheet" type="text/css" media="screen" href="css/style_temp.css">
</head>
<body>
<!--=============modal window overlay===============-->
<div id="menu_overlay"></div>
<!--HEADER START-->
	<header>
	    <div class="header">
	    	<div class="header_top">
					<div class="container">
						<div class="container_inner">
							<div class="header_top_inner">
								<div class="logo">
									<a href="index.html" class="logo_lk">
										<span class="logo_top">
											<img src="images/icons/logo.svg" alt="">
										</span>
									</a>
								</div>
								<button class="menu_resp"></button>
						  	<div class="header_nav">
						  		
									<nav>
										<ul class="menu">
											<li class="menu_item_1"><a href="#" class="sub_menu_lk">Продукция</a>
												<ul class="sub_menu">
													<li><a href="#">cетка сварная</a></li>
													<li><a href="#">cетка тканная</a></li>
													<li><a href="#" class="sub_menu_lk">cетка нержавеющая
														<span class="sub_menu_pat"></span>
													</a>
														<ul class="sub_menu2">
															<li><a href="#">трубы</a></li>
															<li><a href="#">листы</a></li>
															<li><a href="#">швеллера</a>
														</ul>
													</li>
													<li><a href="#">cетка плетенная рабица</a></li>
													<li><a href="#">cетка плетенная рабица</a></li>
													<li><a href="#">cетка тканная</a></li>
												</ul>
											</li>
											<li class="menu_item_2"><a href="">Доставка</a></li>
											<li class="menu_item_3"><a href="#" class="sub_menu_lk">Информация</a>
												<ul class="sub_menu">
													<li><a href="#">новости</a></li>
													<li><a href="#">статьи</a></li>
												</ul>
											</li>
											<li class="menu_item_4"><a href="">Контакты</a></li>
										</ul>
									</nav>
									<div class="header_info_sub">
										<div class="header_info_sub_box">
											<span>Минимальные сроки</span>
											<span>Отличные цены</span>
										</div>
										<a href="mailto:zakaz@teploment.ru" class="info_sub_lk">zakaz@teploment.ru</a>
									</div>
								</div>
								<div class="header_info">
									<a href="tel:+7(351)2239392" class="header_info_lk"><span>+7(351)</span>223-93-92</a>
									<a href="tel:+7(951)2239392" class="header_info_lk"><span>+7(951)</span>779-33-77</a>
									<div class="header_call">
										<button class="blue_btn modal_btn" data-modal="call">Заказать звонок</button>
										<button class="orange_btn modal_btn" data-modal="call"></button>
									</div>
									<button class="menu_resp_close"></button>
								</div>
							</div>
						</div>
	        </div>
	      </div>
				<div class="header_middle">
					<div class="container">
						<div class="container_inner">
							<div class="header_messadge">Комплексные поставки<br><span>металлопроката</span><span> и деталей трубопровода</span></div>
						</div>
					</div>
				</div>
	
			</div>
	</header>
	<!--HEADER END-->
	<!-- MAIN CONTENT Start-->
	<div class="catalog_bl">
		<div class="breadcrumbs_box">
			<div class="container">
				<div class="container_inner">
					<ul class="breadcrumbs">
						<li>
		          <a class="breadcrumbs_main" href="#">Главная</a>/
		        </li>
		        <li>
		          <a class="breadcrumbs_main" href="#">Каталог</a>/
		        </li>
		        <li>
		          <a class="breadcrumbs_main" href="#">Отводы</a>/
		        </li>
		        <li>
		          <span class="breadcrumbs_current">Отводы ГОСТ 17375-2001 крутоизогнутые типа 3d</span>
		        </li>
		      </ul>
		    </div>
	     </div>
    	</div>
		<div class="container">
			<div class="container_inner">
				<h2 class="title1"><span>Мы предлагаем</span></h2>
				<div class="header_offers">
					<div class="header_supply_box">
						<div class="header_offers_title"><h3 class="title2">Поставки<span>металлопроката</span></h3></div>
						<span class="header_supply_open"></span>
						<div class="header_supply"> 
						  <div class="header_supply_item1">
								<div class="header_supply_img">
								</div>
								<a href="#" class="categories_name">Трубы</a>
							</div>
							<div class="header_supply_item2">
								<div class="header_supply_img">
								</div>
								<a href="#" class="categories_name">Листы</a>
							</div>
							<div class="header_supply_item3">
								<div class="header_supply_img">
									
								</div>
								<a href="#" class="categories_name">Швеллера</a>
							</div>
							<div class="header_supply_item4">
								<div class="header_supply_img">
								</div>
								<a href="#" class="categories_name">Уголок</a>
							</div>
							<div class="header_supply_item5">
								<div class="header_supply_img">
								</div>
								<a href="#" class="categories_name">Балка</a>
							</div>
							<div class="header_supply_item6">
								<div class="header_supply_img">
								</div>
								<a href="#" class="categories_name">Арматура</a>
							</div>
							<div class="header_supply_item7">
								<div class="header_supply_img">
								</div>
								<a href="#" class="categories_name">Проволока</a>
							</div>
							<div class="header_supply_item8">
								<div class="header_supply_img">
								</div>
								<a href="#" class="categories_name">Круг</a>
							</div>
							<div class="header_supply_item9">
								<div class="header_supply_img">
								</div>
								<a href="#" class="categories_name">Шестигранник</a>
							</div>
							<div class="header_supply_item10">
								<div class="header_supply_img">
								</div>
								<a href="#" class="categories_name">Квадрат</a>
							</div>
							<div class="header_supply_item11">
								<div class="header_supply_img">
								</div>
								<a href="#" class="categories_name">Полоса</a>
							</div>
							<div class="header_supply_item12">
								<div class="header_supply_img">
								</div>
								<a href="#" class="categories_name">Рельсы</a>
							</div>
							<div class="header_supply_item13">
								<div class="header_supply_img">
								</div>
								<a href="#" class="categories_name">Поковка</a>
							</div>
							<div class="header_supply_item14">
								<div class="header_supply_img">
								</div>
								<div class="categories_open">
										<a href="#" class="categories_name">Сетка</a>
										<div class="categories">
												<ul class="submenu">
													<li><a href="">сетка сварная</a></li>
													<li><a href="#" class="submenu_lk">сетка тканая</a>
											      <ul class="submenu2">
															<li><a href="">сетка сварная</a></li>
															<li><a href="">сетка тканая</a>
															<li><a href="">сетка нержавеющая</a></li>
													    <li><a href="">сетка плетенная рабица</a></li>
														</ul>
											
													</li>
													<li><a href="#" class="submenu_lk">сетка нержавеющая</a>
														<ul class="submenu2">
															<li><a href="">сетка сварная</a></li>
															<li><a href="">сетка тканая</a>
															<li><a href="">сетка нержавеющая</a></li>
													    <li><a href="">сетка плетенная рабица</a></li>
														</ul>
													</li>
													<li><a href="">сетка плетенная рабица</a></li>
											 </ul>
										</div>
								</div>
							</div>
							<button class="header_supply_btn more_white_btn">Показать еще</button>
						</div>
					</div>
					<div class="header_details_box">
						<div class="header_offers_title"><h3 class="title2">Детали <span>трубопровода</span></h3></div>
						<span class="header_supply_open"></span>
						<div class="header_details">
							<div class="header_details_item1">
								<div class="header_details_img">
								</div>
								<a href="#" class="categories_name">Отводы</a>
							</div>
							<div class="header_details_item2">
								<div class="header_details_img">
								</div>
								<a href="#" class="categories_name">Переходы</a>
							</div>
							<div class="header_details_item3">
								<div class="header_details_img">
									
								</div>
								<a href="#" class="categories_name">Тройники</a>
							</div>
							<div class="header_details_item4">
								<div class="header_details_img">
								</div>
								<a href="#" class="categories_name">Заглушки</a>
							</div>
							<div class="header_details_item5">
								<div class="header_details_img">
								</div>
								<a href="#" class="categories_name">Фланцы</a>
							</div>
							<div class="header_details_item6">
								<div class="header_details_img">
								</div>
								<a href="#" class="categories_name">Опоры</a>
							</div>
							<div class="header_details_item7">
								<div class="header_details_img">
								</div>
								<a href="#" class="categories_name">Сгоны</a>
							</div>
							<div class="header_details_item8">
								<div class="header_details_img">
								</div>
								<a href="#" class="categories_name">Муфты</a>
							</div>
							<button class="header_supply_btn more_white_btn"><span>Показать еще</span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="content">
		<div class="container">
			<div class="container_inner">
				<div class="delivery_bl">
					<div class="content_title">
				  		<h2 class="title4"><span>Доставка</span></h2>
					</div>
					<div class="delivery_block">
						<div class="delivery_block_img">
							<img src="images/delivery1.jpg" alt="" class="lg">
							<img src="images/delivery3.jpg" alt="" class="md">
							<img src="images/delivery4.jpg" alt="" class="xs">
						</div>
						<p>Сотрудничая с транспортными компаниями-партнёрами, наша организация осуществляет доставку соединительных деталей трубопроводов, таких как отводы, тройники, днища, заглушки, фланцевые элементы, по всей России и странам СНГ. Мы заключаем договор с надёжными транспортными компаниями, в числе которых есть такие известные наименования, как «Деловые линии», КИТ, ПЭК, РАТЭК.</p>
						<p>Условия доставки включают в себя бесплатную транспортировку продукции до терминала транспортной компании(ТК), который расположен в нашем городе. Далее, стоимость доставки от ТК до вашего города рассчитывается исходя из тарификации услуги грузоперевозки до вашего пункта назначения.</p>
						<p>Дополнительно Вы можете воспользоваться услугой самовывоза, которая позволяет нашему складу подготовить Ваш заказ, и в удобное для Вас время, Вы можете забрать продукцию прямо со склада на своём автотранспорте.</p>
						<p>Для крупных покупателей мы имеем возможность заказать отдельный вид транспорта, который предусматривает погрузку соединительных деталей трубопроводов и других элементов. Для этого Вам необходимо связаться с нашим менеджером в процессе формирования заказа и уточнить способ транспортировки при помощи отдельного вида транспорта. В данном случае заказ будет укомплектован соответствующим образом и закреплён в кузове транспортного средства для безопасной транспортировки к пункту назначения.</p>
						<p>Трубопроводная арматура упаковывается в специальную тару, которая предотвращает повреждение и выход из строя в процессе транспортировки до пункта назначения.</p>
					</div>
					<div class="delivery_content">
						<div class="delivery_content_inner">
							<p>Чтобы уточнить стоимость доставки до Вашего города при помощи компаний, предоставляющих транспортные услуги, Вы можете воспользоваться сайтом одной из выбранной компании, где указана стоимость доставки от нашего региона в ваш пункт назначения.</p>
							<p>Для получения груза на складе нашей компании, а также через транспортные компании, необходимо выполнение следующих условий</p>
							<ul class="product_adv_list">
								<li>Наличие доверенности от компании, производившей оплату товара.</li>
								<li>В процессе погрузки проверяем соответствие груза с накладными.</li>
								<li>Получая товар, клиенту выдаётся - накладная установленной формы, счёт-фактура, оригинал счета на оплату, паспорта на изделия, сертификаты соответствия, для транспорта - товарно-транспортная накладная.</li>
								<li>Получатель должен расписаться в документах отгрузки и проверить количество получаемого товара.</li>
								<li>В товарно-транспортных накладных ставятся соответствующие отметки, необходимые для отчёта транспортным компаниям.</li>
							</ul>
						</div>
						<div class="delivery_content_img">
							<img src="images/delivery2.jpg" alt="">
						</div>
					</div>
					<div class="delivery_partners">
						<div class="delivery_partners_mes">
							<p><span class="catalog_text_blue">Условия доставки </span>является дополнительной частью нашего сотрудничества, и данный вопрос регулируется вспомогательными документами и регламентными положениями, которые заключаются между покупателем и производителем металлоконструкций. </p>
							<p>Ответственность нашей компании за товар сохраняется до момента погрузки на транспортное средство, дополнительную ответственность перевозки груза возлагают на себя транспортные компании, о чем указывается в договоре на доставку продукции.</p>
							<div class="delivery_partners_img">
								<div>
									<img src="images/partners1.png" alt="">
								</div>
								<div>
									<img src="images/partners2.png" alt="">
								</div>
								<div>
									<img src="images/partners3.png" alt="">
								</div>
								<div>
									<img src="images/partners4.png" alt="">
								</div>
							</div>
						</div>
						<p>Сотрудничая с транспортными компаниями-партнёрами, наша организация осуществляет доставку соединительных деталей трубопроводов, таких как отводы, тройники, днища, заглушки, фланцевые элементы, по всей России и странам СНГ. Мы заключаем договор с надёжными транспортными компаниями, в числе которых есть такие известные наименования, как «Деловые линии», КИТ, ПЭК, РАТЭК.</p>
						<p>Условия доставки включают в себя бесплатную транспортировку продукции до терминала транспортной компании(ТК), который расположен в нашем городе. Далее, стоимость доставки от ТК до вашего города рассчитывается исходя из тарификации услуги грузоперевозки до вашего пункта назначения.</p>
						<p>Дополнительно Вы можете воспользоваться услугой самовывоза, которая позволяет нашему складу подготовить Ваш заказ, и в удобное для Вас время, Вы можете забрать продукцию прямо со склада на своём автотранспорте.</p>
						<p>Для крупных покупателей мы имеем возможность заказать отдельный вид транспорта, который предусматривает погрузку соединительных деталей трубопроводов и других элементов. Для этого Вам необходимо связаться с нашим менеджером в процессе формирования заказа и уточнить способ транспортировки при помощи отдельного вида транспорта. В данном случае заказ будет укомплектован соответствующим образом и закреплён в кузове транспортного средства для безопасной транспортировки к пункту назначения.</p>
						<p>Трубопроводная арматура упаковывается в специальную тару, которая предотвращает повреждение и выход из строя в процессе транспортировки до пункта назначения.</p>

					</div>
	      		</div>
			</div>
		</div>
	</div>
    <section>
		<div class="main_contacts_bl">
			<div class="container">
				<div class="main_contacts_box">
					<div class="main_contacts_info">
						<div class="main_contacts_img">
							<img src="images/main_contats_pattern.png" alt="">
						</div>
						<div class="price_list_box">
							<span>Полный прайс-лист на товары и услуги</span>
							<a href="price-list.txt" target="_blank">Скачать прайс-лист</a>
						</div>
					</div>
					<div class="main_contacts_form">
						<div class="contacts_form_inner">
							<span class="contacts_form_title"><span>Оставить</span>заявку</span>
							<span class="contacts_form_message">Заполните заявку и в ближайшее время мы с вами свяжемся</span>
							<form class="formSend">
								<div class="form_item user">
									<input type="text" placeholder="ФИО" name="name"  onblur="if(this.placeholder==''){this.placeholder='ФИО';this.classList.remove('hide');}" onfocus="if(this.placeholder =='ФИО'){this.placeholder='';this.classList.add('hide');}">
								</div>
								<div class="form_item phone">
									<input type="tel" placeholder="Телефон" name="phone" onblur="if(this.placeholder==''){this.placeholder='Телефон';this.classList.remove('hide');}" onfocus="if(this.placeholder =='Телефон' ){this.placeholder='';this.classList.add('hide');}">
								</div>
								<div class="form_item mes">
									<textarea placeholder="Сообщение" name="message" onblur="if(this.placeholder==''){this.placeholder='Сообщение';this.classList.remove('hide');}" onfocus="if(this.placeholder =='Сообщение' ){this.placeholder='';this.classList.add('hide');}"></textarea>
								</div>
								<div class="form_item flex">
									<label for="file" class="label_select_file">
										<span class="file_btn">Прикрепить файл</span>
										<span class="file_select"></span>
										<input type="file" name="file" id="file" class="file">
									</label>
									<button class="send_btn sendBtn">Отправить</button>
								</div>
							</form>
					 </div>
					</div>
				</div>
			</div>
		</div>
	</section>

 <!--FOOTER  -->
	<footer class="footer">
		<div class="container">
			<div class="footer_inner">
				<div class="footer_nav">
					<nav>
						<ul class="menu">
							<li class="menu_item_1"><a href="">Продукция</a></li>
							<li class="menu_item_2"><a href="">Доставка</a></li>
							<li class="menu_item_3"><a href="">Информация</a></li>
							<li class="menu_item_4"><a href="">Контакты</a></li>
						</ul>
					</nav>
					<div class="footer_info_sub">
						<div class="footer_info_sub_box">
							<span>Минимальные сроки</span>
							<span>Отличные цены</span>
						</div>
						<a href="mailto:zakaz@teploment.ru" class="info_sub_lk">zakaz@teploment.ru</a>
					</div>
				</div>
				<div class="footer_info">
					<div class="footer_info_title">Наш телефон:</div>
					<a href="tel:+7(351)2239392" class="header_info_lk"><span>+7(351)</span>223-93-92</a>
					<a href="tel:+7(951)2239392" class="header_info_lk"><span>+7(951)</span>779-33-77</a>
					<div class="header_call">
						<button class="blue_btn modal_btn" data-modal="call">Заказать звонок</button>
					</div>
				</div>
				<div class="footer_info_logo">
					<div class="footer_logo_box">
						<div class="logo">
							<a href="index.html" class="logo_lk">
								<span class="logo_top">
									<img src="images/icons/logo.svg" alt="">
								</span>
							</a>
						</div>
						<div class="copyright">
							<span>Copyright 2018</span>
							<span>Все права защищены</span>
						</div>
					
					</div>
				</div>
			</div>
    	</div>
	</footer>
	<!--FOOTER END-->
	<!--modal popup  -->
	<div class="modal" id="order" style="background:url(images/bg_modal_order.jpg) 0 0 no-repeat;background-size: cover;">
		<div class="modal_content">
			<div class="modal_content_inner">
				<div class="modal_close"></div>
				<div class="modal_box_order">
					<h2 class="title3">Оформить заказ</h2>
			    <div class="order_item_box">
						<span class="order_mes">готово к показу</span>
						<span class="order_count"><span>2</span> позиции</span>
					</div>
					<div class="order_item_trip">
						<span>* - поля обязательные для заполнения</span>
					</div>
					<form class="formSend form_order">
							<div class="form_item user">
								<input type="text" placeholder="ФИО" name="name"  onblur="if(this.placeholder=='') this.placeholder='ФИО'" onfocus="if(this.placeholder =='ФИО'){this.placeholder='';this.classList.add('hide');}">
							</div>
							<div class="form_item flex">
								<div class="form_item_type phone">
								  <input type="tel" placeholder="Телефон" name="phone" onblur="if(this.placeholder==''){this.placeholder='Телефон';this.classList.remove('hide');}" onfocus="if(this.placeholder =='Телефон' ){this.placeholder='';this.classList.add('hide');}">
						    </div>
						    <div class="form_item_type email">
								  <input type="email" placeholder="E-mail" name="email" onblur="if(this.placeholder==''){this.placeholder='E-mail';this.classList.remove('hide');}" onfocus="if(this.placeholder =='E-mail' ){this.placeholder='';this.classList.add('hide');}">
						    </div>
							</div>
							<div class="form_item mes">
							<textarea placeholder="Сообщение" name="message" onblur="if(this.placeholder==''){this.placeholder='Сообщение';this.classList.remove('hide');}" onfocus="if(this.placeholder =='Сообщение' ){this.placeholder='';this.classList.add('hide');}"></textarea>
						  </div>
							<div class="form_item">
						  	<input type="checkbox" name="agree" id="agree">
								<label for="agree" class="data_mes_label">Нажимая на кнопку, Вы даете свое согласие на обработку <a href="#" class="data_mes_lk"> персональных данных</a></label>
							</div>
						  <div class="form_item al_center">
						  	<a href="index.html" class="white_btn">Вернуться</a>
						  	<button class="blue_btn sendBtn">Оформить заказ</button>
						  </div>

					</form>
				</div>
			</div>
		</div>
	</div>
  <div class="modal" id="basket" style="background:url(images/bg_modal_basket.png) 0 0 no-repeat;background-size: cover;">
    <div class="modal_content_basket">
       <div class="modal_box_basket">
        	<div class="box_basket_top">
        		<span class="basket_top_title">Корзина
        			<span></span>
        		</span>
        		<button class="basket_btn modal_btn" data-modal="order"></button>
        	</div>
        	<div class="box_basket">
        		<table class="basket_tb">
        			<tbody>
        				<tr>
        					<th class="cell1">Наименование</th>
        					<th class="cell2">Количество</th>
        					<th class="cell3"></th>
        				</tr>
        				<tr>
        					<td class="cell1">Труба 15х15х1.5 ГОСТ 13663-86 cnfkm 2сп</td>
        					<td class="cell2">
        						<div class="counter-wrapper">
											<div class="counter-box">
												<button class="counter-minus"></button>
												<input class="counter-qt" value="1">
												<button class="counter-plus"></button>
											</div>
										</div>
									</td>
        					<td class="cell3"><span class="basket_close"></span></td>
        				</tr>
        				<tr>
        					<td class="cell1">Труба 15х15х1.5 ГОСТ 13663-86 cnfkm 2сп</td>
        					<td class="cell2">
        						<div class="counter-wrapper">
											<div class="counter-box">
												<button class="counter-minus"></button>
												<input class="counter-qt" value="1">
												<button class="counter-plus"></button>
											</div>
										</div>
									</td>
        					<td class="cell3"><span class="basket_close"></span></td>
        				</tr>
        				<tr >
        					<td colspan="3" class="basket_total">
        						<table class="basket_inner_tb">
        							<tbody>
        								<tr>
			        					<td class="cell1 basket_mes_td">
			        						<span class="basket_count_mes">готово к показу</span>
			        						<span class="basket_count">2</span> позиции
			        					</td>
			        					<td class="al_right">
        									<button class="white_btn">Очистить все</button>
        								</td>
			        				 </tr>
			        				</tbody>
			        			</table>
        				 </td>
        					
        				</tr>
        			</tbody>
        		</table>
        	</div>
        	<div class="box_basket_bottom">
        		<button class="white_btn modal_close_type">Продолжить покупки</button>
        	  <button class="blue_btn modal_btn" data-modal="order">Оформить заказ</button>
					</div>
			</div>
		</div>
  </div>
  <div class="modal" id="thanks" style="background:url(images/bg_modal_thanks.jpg) 0 0 no-repeat;background-size: cover;">
    <div class="modal_content">
    	<div class="modal_content_inner">
        <div class="modal_close" onclick=""></div>
        <div class="modal_box_thanks">
        	<div class="box_thanks_title">Спасибо</div>
        	<span>за ваше сообщение, мы ответим Вам в ближайшее время!</span>
				</div>
			</div>
    </div>
  </div>
  <div class="modal" id="call" style="background:url(images/bg_modal_call.jpg) 0 0 no-repeat;background-size: cover;">
    <div class="modal_content">
    	<div class="modal_content_inner">
        <div class="modal_close" onclick=""></div>
        <div class="modal_box_call">
        	<div class="modal_call_logo"></div>
        	<h2 class="title3">Обратный звонок</h2>
    			<form class="formSend form_call">
						<div class="form_item user">
							<input type="text" placeholder="ФИО" name="name"  onblur="if(this.placeholder==''){this.placeholder='ФИО';this.classList.remove('hide');}" onfocus="if(this.placeholder =='ФИО'){this.placeholder='';this.classList.add('hide');}">
						</div>
						<div class="form_item phone">
							<input type="tel" placeholder="Телефон" name="phone" onblur="if(this.placeholder==''){this.placeholder='Телефон';this.classList.remove('hide');}" onfocus="if(this.placeholder =='Телефон' ){this.placeholder='';this.classList.add('hide');}">
							</div>
					  <div class="form_item">
					  	<input type="checkbox" id="agree1" name="agree">
							<label for="agree1" class="data_mes_label">Нажимая на кнопку, Вы даете свое согласие на обработку<a href="#" class="data_mes_lk">персональных данных</a></label>
						</div>
						<div class="form_item al_center">
							<button class="blue_btn sendBtn" type="submit">Заказать звонок</button>
						</div>
					</form>
        </div>
			</div>
    </div>
  </div>
	<!--TMP END  -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/jquery-migrate-1.2.1.min.js"></script>
	<script src="js/script_temp.js"></script>
	</body>

</html>