<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title>Page product</title>
  <meta name = "format-detection" content = "telephone=no" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
	<link rel="shortcut icon" href="images/favicon/logo.ico" type="image/x-icon">
	<script>!function(){function e(e,t,n){e.addEventListener?e.addEventListener(t,n,!1):e.attachEvent&&e.attachEvent("on"+t,n)}function t(e){return window.localStorage&&localStorage.font_css_cache&&localStorage.font_css_cache_file===e}function n(){if(window.localStorage&&window.XMLHttpRequest)if(t(o))a(localStorage.font_css_cache);else{var n=new XMLHttpRequest;n.open("GET",o,!0),e(n,"load",function(){4===n.readyState&&(a(n.responseText),localStorage.font_css_cache=n.responseText,localStorage.font_css_cache_file=o)}),n.send()}else{var c=document.createElement("link");c.href=o,c.rel="stylesheet",c.type="text/css",document.getElementsByTagName("head")[0].appendChild(c),document.cookie="font_css_cache"}}function a(e){var t=document.createElement("style");t.innerHTML=e,document.getElementsByTagName("head")[0].appendChild(t)}var o="fonts.css";window.localStorage&&localStorage.font_css_cache||document.cookie.indexOf("font_css_cache")>-1?n():e(window,"load",n)}();</script>
  <link rel="stylesheet" type="text/css" media="screen" href="css/style_temp.css">
</head>
<body>
<!--=============modal window overlay===============-->
<div id="menu_overlay"></div>
<!--HEADER START-->
	<header>
	    <div class="header">
	    	<div class="header_top">
					<div class="container">
						<div class="container_inner">
							<div class="header_top_inner">
								<div class="logo">
									<a href="index.html" class="logo_lk">
										<span class="logo_top">
											<img src="images/icons/logo.svg" alt="">
										</span>
									</a>
								</div>
								<button class="menu_resp"></button>
						  	<div class="header_nav">
						  		
									<nav>
										<ul class="menu">
											<li class="menu_item_1"><a href="#" class="sub_menu_lk">Продукция</a>
												<ul class="sub_menu">
													<li><a href="#">cетка сварная</a></li>
													<li><a href="#">cетка тканная</a></li>
													<li><a href="#" class="sub_menu_lk">cетка нержавеющая
														<span class="sub_menu_pat"></span>
													</a>
														<ul class="sub_menu2">
															<li><a href="#">трубы</a></li>
															<li><a href="#">листы</a></li>
															<li><a href="#">швеллера</a>
														</ul>
													</li>
													<li><a href="#">cетка плетенная рабица</a></li>
													<li><a href="#">cетка плетенная рабица</a></li>
													<li><a href="#">cетка тканная</a></li>
												</ul>
											</li>
											<li class="menu_item_2"><a href="">Доставка</a></li>
											<li class="menu_item_3"><a href="#" class="sub_menu_lk">Информация</a>
												<ul class="sub_menu">
													<li><a href="#">новости</a></li>
													<li><a href="#">статьи</a></li>
												</ul>
											</li>
											<li class="menu_item_4"><a href="">Контакты</a></li>
										</ul>
									</nav>
									<div class="header_info_sub">
										<div class="header_info_sub_box">
											<span>Минимальные сроки</span>
											<span>Отличные цены</span>
										</div>
										<a href="mailto:zakaz@teploment.ru" class="info_sub_lk">zakaz@teploment.ru</a>
									</div>
								</div>
								<div class="header_info">
									<a href="tel:+7(351)2239392" class="header_info_lk"><span>+7(351)</span>223-93-92</a>
									<a href="tel:+7(951)2239392" class="header_info_lk"><span>+7(951)</span>779-33-77</a>
									<div class="header_call">
										<button class="blue_btn modal_btn" data-modal="call">Заказать звонок</button>
										<button class="orange_btn modal_btn" data-modal="call"></button>
									</div>
									<button class="menu_resp_close"></button>
								</div>
							</div>
						</div>
	        </div>
	      </div>
				<div class="header_middle">
					<div class="container">
						<div class="container_inner">
							<div class="header_messadge">Комплексные поставки<br><span>металлопроката</span><span> и деталей трубопровода</span></div>
						</div>
					</div>
				</div>
	
			</div>
	</header>
	<!--HEADER END-->
	<!-- MAIN CONTENT Start-->
	<div class="catalog_bl">
		<div class="breadcrumbs_box">
			<div class="container">
				<div class="container_inner">
					<ul class="breadcrumbs">
						<li>
		          <a class="breadcrumbs_main" href="#">Главная</a>/
		        </li>
		        <li>
		          <a class="breadcrumbs_main" href="#">Каталог</a>/
		        </li>
		        <li>
		          <a class="breadcrumbs_main" href="#">Отводы</a>/
		        </li>
		        <li>
		          <span class="breadcrumbs_current">Отводы ГОСТ 17375-2001 крутоизогнутые типа 3d</span>
		        </li>
		      </ul>
		    </div>
	     </div>
    	</div>
		<div class="container">
	
			<div class="container_inner">
				<h2 class="title1"><span>Мы предлагаем</span></h2>
				<div class="header_offers">
					<div class="header_supply_box">
						<div class="header_offers_title"><h3 class="title2">Поставки<span>металлопроката</span></h3></div>
						<span class="header_supply_open"></span>
						<div class="header_supply"> 
						  <div class="header_supply_item1">
								<div class="header_supply_img">
								</div>
								<a href="#" class="categories_name">Трубы</a>
							</div>
							<div class="header_supply_item2">
								<div class="header_supply_img">
								</div>
								<a href="#" class="categories_name">Листы</a>
							</div>
							<div class="header_supply_item3">
								<div class="header_supply_img">
									
								</div>
								<a href="#" class="categories_name">Швеллера</a>
							</div>
							<div class="header_supply_item4">
								<div class="header_supply_img">
								</div>
								<a href="#" class="categories_name">Уголок</a>
							</div>
							<div class="header_supply_item5">
								<div class="header_supply_img">
								</div>
								<a href="#" class="categories_name">Балка</a>
							</div>
							<div class="header_supply_item6">
								<div class="header_supply_img">
								</div>
								<a href="#" class="categories_name">Арматура</a>
							</div>
							<div class="header_supply_item7">
								<div class="header_supply_img">
								</div>
								<a href="#" class="categories_name">Проволока</a>
							</div>
							<div class="header_supply_item8">
								<div class="header_supply_img">
								</div>
								<a href="#" class="categories_name">Круг</a>
							</div>
							<div class="header_supply_item9">
								<div class="header_supply_img">
								</div>
								<a href="#" class="categories_name">Шестигранник</a>
							</div>
							<div class="header_supply_item10">
								<div class="header_supply_img">
								</div>
								<a href="#" class="categories_name">Квадрат</a>
							</div>
							<div class="header_supply_item11">
								<div class="header_supply_img">
								</div>
								<a href="#" class="categories_name">Полоса</a>
							</div>
							<div class="header_supply_item12">
								<div class="header_supply_img">
								</div>
								<a href="#" class="categories_name">Рельсы</a>
							</div>
							<div class="header_supply_item13">
								<div class="header_supply_img">
								</div>
								<a href="#" class="categories_name">Поковка</a>
							</div>
							<div class="header_supply_item14">
								<div class="header_supply_img">
								</div>
								<div class="categories_open">
										<a href="#" class="categories_name">Сетка</a>
										<div class="categories">
												<ul class="submenu">
													<li><a href="">сетка сварная</a></li>
													<li><a href="#" class="submenu_lk">сетка тканая</a>
											      <ul class="submenu2">
															<li><a href="">сетка сварная</a></li>
															<li><a href="">сетка тканая</a>
															<li><a href="">сетка нержавеющая</a></li>
													    <li><a href="">сетка плетенная рабица</a></li>
														</ul>
											
													</li>
													<li><a href="#" class="submenu_lk">сетка нержавеющая</a>
														<ul class="submenu2">
															<li><a href="">сетка сварная</a></li>
															<li><a href="">сетка тканая</a>
															<li><a href="">сетка нержавеющая</a></li>
													    <li><a href="">сетка плетенная рабица</a></li>
														</ul>
													</li>
													<li><a href="">сетка плетенная рабица</a></li>
											 </ul>
										</div>
								</div>
							
							</div>
							<button class="header_supply_btn more_white_btn"><span>Показать еще</span></button>
						</div>
					</div>
					<div class="header_details_box">
						<div class="header_offers_title"><h3 class="title2">Детали <span>трубопровода</span></h3></div>
						<span class="header_supply_open"></span>
						<div class="header_details">
							<div class="header_details_item1">
								<div class="header_details_img">
								</div>
								<a href="#" class="categories_name">Отводы</a>
							</div>
							<div class="header_details_item2">
								<div class="header_details_img">
								</div>
								<a href="#" class="categories_name">Переходы</a>
							</div>
							<div class="header_details_item3">
								<div class="header_details_img">
									
								</div>
								<a href="#" class="categories_name">Тройники</a>
							</div>
							<div class="header_details_item4">
								<div class="header_details_img">
								</div>
								<a href="#" class="categories_name">Заглушки</a>
							</div>
							<div class="header_details_item5">
								<div class="header_details_img">
								</div>
								<a href="#" class="categories_name">Фланцы</a>
							</div>
							<div class="header_details_item6">
								<div class="header_details_img">
								</div>
								<a href="#" class="categories_name">Опоры</a>
							</div>
							<div class="header_details_item7">
								<div class="header_details_img">
								</div>
								<a href="#" class="categories_name">Сгоны</a>
							</div>
							<div class="header_details_item8">
								<div class="header_details_img">
								</div>
								<a href="#" class="categories_name">Муфты</a>
							</div>
						<button class="header_supply_btn more_white_btn"><span>Показать еще</span></button>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="content">
		<div class="container">
			<div class="container_inner">
			
				<div class="product_box">
						<div class="product_info">
							<h2 class="title1">Труба бесшовная 7х1 х/д</h2>
							<div class="product_info_inner">
								<div class="product_info_img">
									<img src="images/product.jpg" alt="">
								</div>
								<div class="product_info_char">
									<h4 class="title6">Характеристики</h4>
									<dl class="product_char_list">
										<div class="product_char_item">
											<dt>Вес погонного метра</dt>
											<dd>0.148 кг.</dd>
										</div>
										<div class="product_char_item">
											<dt>Материал</dt>
											<dd>стальная</dd>
									  </div>
									  <div class="product_char_item">
											<dt>Марка стали или сплава</dt>
											<dd>Ст20</dd>
										</div>
										<div class="product_char_item">
											<dt>Способ производства</dt>
											<dd>бесшовная</dd>
										</div>
										<div class="product_char_item">
											<dt>Тип производства</dt>
											<dd>холоднодеформированная</dd>
										</div>
										<div class="product_char_item">
											<dt>Тип сечения</dt>
											<dd>круглое</dd>
										</div>
										<div class="product_char_item">
											<dt>Диаметр</dt>
											<dd>7 мм.</dd>
										</div>
										<div class="product_char_item">
											<dt>Толщина стенки</dt>
											<dd>1 мм.</dd>
										</div>
										<div class="product_char_item">
											<dt>Длина</dt>
											<dd>12000 мм.</dd>
										</div>
									</dl>
								</div>
								<div class="product_counter_box">
									<div class="product_counter_item">
										<div class="counter_item_inner">
											<span>Марка стали</span>
											<label for="mark_" class="select">
												<select id="mark_">
													<option>Выбрать марку</option>
													<option>марка2</option>
													<option>марка3</option>
													<option>марка4</option>
												</select>
											</label>
										</div>
									</div>
									<div class="product_counter_item">
											<div class="counter_item_inner">
											<span>Количество метров</span>
											<div class="counter-wrapper">
												<div class="counter-box">
													<button class="counter-minus"></button>
													<input class="counter-qt" value="1">
													<button class="counter-plus"></button>
												</div>
											</div>
										</div>
									</div>
									<div class="product_counter_item">
										<div class="product_counter_mes">
											Чем больше покупка - тем выгоднее цена!
										</div>
									</div>
									<div class="product_counter_item">
										<div class="product_counter_order">
											<span class="product_order_left"></span>
											<span class="product_order_right"></span>
											<button class="blue_btn modal_btn" data-modal="basket">Заказать</button>
										</div>
									</div>
									<div class="product_counter_item">
										<span class="product_counter_text">Цена за тонну: узнавайте у менеджера</span>
									</div>
								</div>
							</div>
							<div class="product_desc">
								<h3 class="title4">Описание</h3>
								<p>Цена трубы бесшовной 7х1 указана за 1 метр погонный. На оптовые поставки со склада действует система скидок, которую Вы можете уточнить у нашего менеджера. На транзитные позиции с завода-производителя стоимость Труба бесшовная 7х1 х/д зависит от марки стали, диаметра, толщины стенки и особых требований покупателя к данному товару. На объем заказа менее 1 тонны (розничный заказ) возможно применение наценки. Окончательную цену за метр и тонну на трубу бесшовную 7х1 Вы можете получить, запросив  коммерческое предложение или счет у нашего менеджера. При расчёте проекта для вашего удобства в нашей компании предусмотрен перерасчет цен</p>
								<p>Стальная Труба бесшовная 7х1 х/д производится в соответствии с ГОСТом 8733-74 и ГОСТом 8734-78, разработанным в институте сертификации. На всю трубу бесшовную имеются сертификаты качества, которые выдаются после получения товара. Купить трубы бесшовная 7х1 Вы можете купить на одном из наших складов оптом и в розницу. Минимальная партия от одной штуки. На нашем предприятии есть возможность отгружать трубу бесшовную различного размера от 1 метра при наличии остатков от производства конструкций. Чтобы ознакомиться со всем сортаментом, и размерами, указанными в таблице, Вы можете перейти в соответствующий раздел или каталог.</p>
								
							</div>
							<div class="product_advantages">
								<h3 class="title6">Купить Трубу бесшовную 7х1 от Сталь-Про - это лучший Ваш выбор! </h3>
								<span class="product_adv_text">Хотите узнать стоимость Труба бесшовная 7х1 х/д – звоните!</span>
								<div class="product_adv_box">
									<span>При обращении в нашу компанию Вы получаете:</span>
									<ul class='product_adv_list'>
										<li>Лучший сервис в нашей отрасли</li>
										<li>Оперативный ответ на Ваше обращение</li>
										<li>Профессиональные консультации от менеджера до конструктора и технолога</li>
										<li>Качественный металлопрокат и изделия из бесшовной трубы</li>
										<li>Услуги по металлообработке</li>
										<li>Поставки точно в срок в любую точку России всеми видами транспорта.</li>
									</ul>
								</div>
							</div>
						
						</div>
						<div class="product_assets">
							<div class="product_counter_box">
								<div class="product_counter_item">
									<div class="counter_item_inner">
										<span>Марка стали</span>
										<label for="mark_" class="select">
											<select id="mark_">
												<option>Выбрать марку</option>
												<option>марка2</option>
												<option>марка3</option>
												<option>марка4</option>
											</select>
										</label>
									</div>
								</div>
								<div class="product_counter_item">
										<div class="counter_item_inner">
										<span>Количество метров</span>
										<div class="counter-wrapper">
											<div class="counter-box">
												<button class="counter-minus"></button>
												<input class="counter-qt" value="1">
												<button class="counter-plus"></button>
											</div>
										</div>
									</div>
								</div>
								<div class="product_counter_item">
									<div class="product_counter_mes">
										Чем больше покупка - тем выгоднее цена!
									</div>
								</div>
								<div class="product_counter_item">
									<div class="product_counter_order">
										<span class="product_order_left"></span>
										<span class="product_order_right"></span>
										<button class="blue_btn modal_btn" data-modal="basket">Заказать</button>
									</div>
								</div>
								<div class="product_counter_item">
									<span class="product_counter_text">Цена за тонну: узнавайте у менеджера</span>
								</div>
							</div>
							<div class="product_banner">
								<img src="images/banner.jpg" alt="">
							</div>
						</div>
				</div>
				<div class="inner_offers">
					<div class="inner_offers_carousel">
						<button class="product_prev_btn"></button>
						<table class="offers_table">
								<tbody>
								  <tr>
								  	<td class="forpad">
								  		<table class="suboffers_table">
												<tbody>
								  			<tr>	
													<th class="cell1">Фото</th>
													<th class="cell2">Наименование</th>
													<th class="cell3">Выбор стали</th>
													<th class="cell4">Количество</th>
													<th class="cell5"></th>
												</tr>
											</tbody>
										</table>
										</td>
									</tr>
									<tr class="active offers_lk">	
										<td class="forpad">
								  		<table class="suboffers_table">
												<tbody>
								  			<tr>
								  				<td class="cell1">	
														<a href="#" class="offers_img">
															<img src="images/offers.jpg" alt="">
													 </a>
									 			 	</td>
													<td class="cell2"><div class="offers_name"><a href="#">Труба бесшовная 7X1 x/д</a></div></td>
													<td class="cell3">
														<label for="mark" class="select">
															<select id="mark">
																<option>Выбрать марку</option>
																<option>марка2</option>
																<option>марка3</option>
																<option>марка4</option>
															</select>
														</label>
													</td>
													<td class="cell4">
														<div class="counter-wrapper">
															<div class="counter-box">
																<button class="counter-minus"></button>
																<input class="counter-qt" value="1">
																<button class="counter-plus"></button>
															</div>
													  </div>
														<span class="counter_unit">метров</span>
													</td>
													<td class="cell5"><button class="add_btn modal_btn"  data-modal="basket">Добавить в заявку</button></td>
												</tr>
													</tbody>
											</table>
										</td>
									</tr>
									<tr class="offers_lk">
		                <td class="forpad">
								  		<table class="suboffers_table">
												<tbody>
								  			<tr>	
												 <td class="cell1">
													<a href="#" class="offers_img">
														<img src="images/offers.jpg" alt="">
													</a>
												  </td>
													<td class="cell2"><div class="offers_name"><a href="#">Швеллер бесшовный</a></div></td>
													<td class="cell3">
														<label for="mark1" class="select">
															<select id="mark1">
																<option>Выбрать марку</option>
																<option>марка2</option>
																<option>марка3</option>
																<option>марка4</option>
															</select>
														</label>
													</td>
													<td class="cell4">
														<div class="counter-wrapper">
															<div class="counter-box">
																<button class="counter-minus"></button>
																<input class="counter-qt" value="1">
																<button class="counter-plus"></button>
															</div>
													  </div>
														<span class="counter_unit">метров</span>
													</td>
													<td class="cell5"><button class="add_btn modal_btn"  data-modal="basket">Добавить в заявку</button></td>
												</tr>
												</tbody>
											</table>
										</td>
									</tr>
									<tr class="offers_lk">
		                <td class="forpad">
								  		<table class="suboffers_table">
												<tbody>
								  			<tr>	
												 <td class="cell1">
													<a href="#" class="offers_img">
														<img src="images/offers.jpg" alt="">
													</a>
												  </td>
													<td class="cell2"><div class="offers_name"><a href="#">Труба бесшовная 7X1 x/д</a></div></td>
													<td class="cell3">
														<label for="mark2" class="select">
															<select id="mark2">
																<option>Выбрать марку</option>
																<option>марка2</option>
																<option>марка3</option>
																<option>марка4</option>
															</select>
														</label>
													</td>
													<td class="cell4">
														<div class="counter-wrapper">
															<div class="counter-box">
																<button class="counter-minus"></button>
																<input class="counter-qt" value="1">
																<button class="counter-plus"></button>
															</div>
													  </div>
														<span class="counter_unit">метров</span>
													</td>
													<td class="cell5"><button class="add_btn modal_btn"  data-modal="basket">Добавить в заявку</button></td>
												</tr>
												</tbody>
											</table>
										</td>
									</tr>
									<tr class="offers_lk">
		              	<td class="forpad">
								  		<table class="suboffers_table">
												<tbody>
								  			<tr>	
												 <td class="cell1">
														<a href="#" class="offers_img">
															<img src="images/offers.jpg" alt="">
														</a>
												  </td>
													<td class="cell2"><div class="offers_name"><a href="#">Труба бесшовная 7X1 x/д</a></div></td>
													<td class="cell3">
														<label for="mark3" class="select">
															<select id="mark3">
																<option>Выбрать марку</option>
																<option>марка2</option>
																<option>марка3</option>
																<option>марка4</option>
															</select>
														</label>
													</td>
													<td class="cell4">
														<div class="counter-wrapper">
															<div class="counter-box">
																<button class="counter-minus"></button>
																<input class="counter-qt" value="1">
																<button class="counter-plus"></button>
															</div>
													  </div>
														<span class="counter_unit">метров</span>
													</td>
													<td class="cell5"><button class="add_btn modal_btn"  data-modal="basket">Добавить в заявку</button></td>
												</tr>
												</tbody>
											</table>
										</td>
									</tr>
									<tr class="offers_lk">
		                <td class="forpad">
								  		<table class="suboffers_table">
												<tbody>
								  			<tr>	
												 <td class="cell1">
														<a href="#" class="offers_img">
															<img src="images/offers.jpg" alt="">
														</a>
												  </td>
													<td class="cell2"><div class="offers_name"><a href="#">Труба бесшовная 7X1 x/д</a></div></td>
													<td class="cell3">
														<label for="mark4" class="select">
															<select id="mark4">
																<option>Выбрать марку</option>
																<option>марка2</option>
																<option>марка3</option>
																<option>марка4</option>
															</select>
														</label>
													</td>
													<td class="cell4">
														<div class="counter-wrapper">
															<div class="counter-box">
																<button class="counter-minus"></button>
																<input class="counter-qt" value="1">
																<button class="counter-plus"></button>
															</div>
													  </div>
														<span class="counter_unit">метров</span>
													</td>
													<td class="cell5"><button class="add_btn modal_btn"  data-modal="basket">Добавить в заявку</button></td>
												</tr>
												</tbody>
											</table>
										</td>
									</tr>
									<tr class="offers_lk">
		                <td class="forpad">
								  		<table class="suboffers_table">
												<tbody>
								  			<tr>	
												 <td class="cell1">
														<a href="#" class="offers_img">
															<img src="images/offers.jpg" alt="">
														</a>
												  </td>
													<td class="cell2"><div class="offers_name"><a href="#">Труба бесшовная 7X1 x/д</a></div></td>
													<td class="cell3">
														<label for="mark5" class="select">
															<select id="mark5">
																<option>Выбрать марку</option>
																<option>марка2</option>
																<option>марка3</option>
																<option>марка4</option>
															</select>
														</label>
													</td>
													<td class="cell4">
														<div class="counter-wrapper">
															<div class="counter-box">
																<button class="counter-minus"></button>
																<input class="counter-qt" value="1">
																<button class="counter-plus"></button>
															</div>
													  </div>
														<span class="counter_unit">метров</span>
													</td>
													<td class="cell5"><button class="add_btn modal_btn"  data-modal="basket">Добавить в заявку</button></td>
												</tr>
												</tbody>
											</table>
										</td>
									</tr>
							    <tr class="offers_lk">
		                <td class="forpad">
								  		<table class="suboffers_table">
												<tbody>
								  			<tr>	
												 <td class="cell1">
														<a href="#" class="offers_img">
															<img src="images/offers.jpg" alt="">
														</a>
												  </td>
													<td class="cell2"><div class="offers_name"><a href="#">Труба бесшовная 7X1 x/д</a></div></td>
													<td class="cell3">
														<label for="mark6" class="select">
															<select id="mark6">
																<option>Выбрать марку</option>
																<option>марка2</option>
																<option>марка3</option>
																<option>марка4</option>
															</select>
														</label>
													</td>
													<td class="cell4">
														<div class="counter-wrapper">
															<div class="counter-box">
																<button class="counter-minus"></button>
																<input class="counter-qt" value="1">
																<button class="counter-plus"></button>
															</div>
													  </div>
														<span class="counter_unit">метров</span>
													</td>
													<td class="cell5"><button class="add_btn modal_btn"  data-modal="basket">Добавить в заявку</button></td>
												</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
						</table>
						<button class="product_next_btn"></button>
					</div>
					<div class="pag_box">
            <button class="pag_prev_btn"></button>
						<ul class="pag-list">
							<li><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">4</a></li>
							<li><a href="">5</a></li>
							<li><a href="">6</a></li>
							<li><a href="">7</a></li>
							<li><a href="">8</a></li>
							<li><a href="">9</a></li>
						</ul>
						<button class="pag_next_btn"></button>
				   </div>
		    </div>
			</div>
		</div>
  </div>
  <section>
		<div class="main_contacts_bl">
			<div class="container">
				<div class="main_contacts_box">
					<div class="main_contacts_info">
						<div class="main_contacts_img">
							<img src="images/main_contats_pattern.png" alt="">
						</div>
						<div class="price_list_box">
							<span>Полный прайс-лист на товары и услуги</span>
							<a href="price-list.txt" target="_blank">Скачать прайс-лист</a>
						</div>
					</div>
					<div class="main_contacts_form">
						<div class="contacts_form_inner">
							<span class="contacts_form_title"><span>Оставить</span>заявку</span>
							<span class="contacts_form_message">Заполните заявку и в ближайшее время мы с вами свяжемся</span>
							<form class="formSend">
								<div class="form_item user">
									<input type="text" placeholder="ФИО" name="name"  onblur="if(this.placeholder==''){this.placeholder='ФИО';this.classList.remove('hide');}" onfocus="if(this.placeholder =='ФИО'){this.placeholder='';this.classList.add('hide');}">
								</div>
								<div class="form_item phone">
									<input type="tel" placeholder="Телефон" name="phone" onblur="if(this.placeholder==''){this.placeholder='Телефон';this.classList.remove('hide');}" onfocus="if(this.placeholder =='Телефон' ){this.placeholder='';this.classList.add('hide');}">
								</div>
								<div class="form_item mes">
									<textarea placeholder="Сообщение" name="message" onblur="if(this.placeholder==''){this.placeholder='Сообщение';this.classList.remove('hide');}" onfocus="if(this.placeholder =='Сообщение' ){this.placeholder='';this.classList.add('hide');}"></textarea>
								</div>
								<div class="form_item flex">
									<label for="file" class="label_select_file">
										<span class="file_btn">Прикрепить файл</span>
										<span class="file_select"></span>
										<input type="file" name="file" id="file" class="file">
									</label>
									<button class="send_btn sendBtn">Отправить</button>
								</div>
							</form>
					 </div>
					</div>
				</div>
			</div>
		</div>
	</section>

 <!--FOOTER  -->
	<footer class="footer">
		<div class="container">
			<div class="footer_inner">
				<div class="arrow_up_box">
			    <div>
			        <a href="#up" data-action="scroll-up" class="arrow_up active"></a>
			    </div>
	 	  	</div>
				<div class="footer_nav">
					<nav>
						<ul class="menu">
							<li class="menu_item_1"><a href="">Продукция</a></li>
							<li class="menu_item_2"><a href="">Доставка</a></li>
							<li class="menu_item_3"><a href="">Информация</a></li>
							<li class="menu_item_4"><a href="">Контакты</a></li>
						</ul>
					</nav>
					<div class="footer_info_sub">
						<div class="footer_info_sub_box">
							<span>Минимальные сроки</span>
							<span>Отличные цены</span>
						</div>
						<a href="mailto:zakaz@teploment.ru" class="info_sub_lk">zakaz@teploment.ru</a>
					</div>
				</div>
				<div class="footer_info">
					<div class="footer_info_title">Наш телефон:</div>
					<a href="tel:+7(351)2239392" class="header_info_lk"><span>+7(351)</span>223-93-92</a>
					<a href="tel:+7(951)2239392" class="header_info_lk"><span>+7(951)</span>779-33-77</a>
					<div class="header_call">
						<button class="blue_btn modal_btn" data-modal="call">Заказать звонок</button>
					</div>
				</div>
				<div class="footer_info_logo">
					<div class="footer_logo_box">
						<div class="logo">
							<a href="index.html" class="logo_lk">
								<span class="logo_top">
									<img src="images/icons/logo.svg" alt="">
								</span>
							</a>
						</div>
						<div class="copyright">
							<span>Copyright 2018</span>
							<span>Все права защищены</span>
						</div>
					
					</div>
				</div>
			</div>
    	</div>
	</footer>
	<!--FOOTER END-->
	<!--modal popup  -->
	<div class="modal" id="order" style="background:url(images/bg_modal_order.jpg) 0 0 no-repeat;background-size: cover;">
		<div class="modal_content">
			<div class="modal_content_inner">
				<div class="modal_close"></div>
				<div class="modal_box_order">
					<h2 class="title3">Оформить заказ</h2>
			    <div class="order_item_box">
						<span class="order_mes">готово к показу</span>
						<span class="order_count"><span>2</span> позиции</span>
					</div>
					<div class="order_item_trip">
						<span>* - поля обязательные для заполнения</span>
					</div>
					<form class="formSend form_order">
							<div class="form_item user">
								<input type="text" placeholder="ФИО" name="name"  onblur="if(this.placeholder=='') this.placeholder='ФИО'" onfocus="if(this.placeholder =='ФИО'){this.placeholder='';this.classList.add('hide');}">
							</div>
							<div class="form_item flex">
								<div class="form_item_type phone">
								  <input type="tel" placeholder="Телефон" name="phone" onblur="if(this.placeholder==''){this.placeholder='Телефон';this.classList.remove('hide');}" onfocus="if(this.placeholder =='Телефон' ){this.placeholder='';this.classList.add('hide');}">
						    </div>
						    <div class="form_item_type email">
								  <input type="email" placeholder="E-mail" name="email" onblur="if(this.placeholder==''){this.placeholder='E-mail';this.classList.remove('hide');}" onfocus="if(this.placeholder =='E-mail' ){this.placeholder='';this.classList.add('hide');}">
						    </div>
							</div>
							<div class="form_item mes">
							<textarea placeholder="Сообщение" name="message" onblur="if(this.placeholder==''){this.placeholder='Сообщение';this.classList.remove('hide');}" onfocus="if(this.placeholder =='Сообщение' ){this.placeholder='';this.classList.add('hide');}"></textarea>
						  </div>
							<div class="form_item">
						  	<input type="checkbox" name="agree" id="agree">
								<label for="agree" class="data_mes_label">Нажимая на кнопку, Вы даете свое согласие на обработку <a href="#" class="data_mes_lk"> персональных данных</a></label>
							</div>
						  <div class="form_item al_center">
						  	<a href="index.html" class="white_btn">Вернуться</a>
						  	<button class="blue_btn sendBtn">Оформить заказ</button>
						  </div>

					</form>
				</div>
			</div>
		</div>
	</div>
  <div class="modal" id="basket" style="background:url(images/bg_modal_basket.png) 0 0 no-repeat;background-size: cover;">
    <div class="modal_content_basket">
       <div class="modal_box_basket">
        	<div class="box_basket_top">
        		<span class="basket_top_title">Корзина
        			<span></span>
        		</span>
        		<button class="basket_btn modal_btn" data-modal="order"></button>
        	</div>
        	<div class="box_basket">
        		<table class="basket_tb">
        			<tbody>
        				<tr>
        					<th class="cell1">Наименование</th>
        					<th class="cell2">Количество</th>
        					<th class="cell3"></th>
        				</tr>
        				<tr>
        					<td class="cell1">Труба 15х15х1.5 ГОСТ 13663-86 cnfkm 2сп</td>
        					<td class="cell2">
        						<div class="counter-wrapper">
											<div class="counter-box">
												<button class="counter-minus"></button>
												<input class="counter-qt" value="1">
												<button class="counter-plus"></button>
											</div>
										</div>
									</td>
        					<td class="cell3"><span class="basket_close"></span></td>
        				</tr>
        				<tr>
        					<td class="cell1">Труба 15х15х1.5 ГОСТ 13663-86 cnfkm 2сп</td>
        					<td class="cell2">
        						<div class="counter-wrapper">
											<div class="counter-box">
												<button class="counter-minus"></button>
												<input class="counter-qt" value="1">
												<button class="counter-plus"></button>
											</div>
										</div>
									</td>
        					<td class="cell3"><span class="basket_close"></span></td>
        				</tr>
        				<tr >
        					<td colspan="3" class="basket_total">
        						<table class="basket_inner_tb">
        							<tbody>
        								<tr>
			        					<td class="cell1 basket_mes_td">
			        						<span class="basket_count_mes">готово к показу</span>
			        						<span class="basket_count">2</span> позиции
			        					</td>
			        					<td class="al_right">
        									<button class="white_btn">Очистить все</button>
        								</td>
			        				 </tr>
			        				</tbody>
			        			</table>
        				 </td>
        					
        				</tr>
        			</tbody>
        		</table>
        	</div>
        	<div class="box_basket_bottom">
        		<button class="white_btn modal_close_type">Продолжить покупки</button>
        	  <button class="blue_btn modal_btn" data-modal="order">Оформить заказ</button>
					</div>
			</div>
		</div>
  </div>
  <div class="modal" id="thanks" style="background:url(images/bg_modal_thanks.jpg) 0 0 no-repeat;background-size: cover;">
    <div class="modal_content">
    	<div class="modal_content_inner">
        <div class="modal_close" onclick=""></div>
        <div class="modal_box_thanks">
        	<div class="box_thanks_title">Спасибо</div>
        	<span>за ваше сообщение, мы ответим Вам в ближайшее время!</span>
				</div>
			</div>
    </div>
  </div>
  <div class="modal" id="call" style="background:url(images/bg_modal_call.jpg) 0 0 no-repeat;background-size: cover;">
    <div class="modal_content">
    	<div class="modal_content_inner">
        <div class="modal_close" onclick=""></div>
        <div class="modal_box_call">
        	<div class="modal_call_logo"></div>
        	<h2 class="title3">Обратный звонок</h2>
    			<form class="formSend form_call">
						<div class="form_item user">
							<input type="text" placeholder="ФИО" name="name"  onblur="if(this.placeholder==''){this.placeholder='ФИО';this.classList.remove('hide');}" onfocus="if(this.placeholder =='ФИО'){this.placeholder='';this.classList.add('hide');}">
						</div>
						<div class="form_item phone">
							<input type="tel" placeholder="Телефон" name="phone" onblur="if(this.placeholder==''){this.placeholder='Телефон';this.classList.remove('hide');}" onfocus="if(this.placeholder =='Телефон' ){this.placeholder='';this.classList.add('hide');}">
							</div>
					  <div class="form_item">
					  	<input type="checkbox" id="agree1" name="agree">
							<label for="agree1" class="data_mes_label">Нажимая на кнопку, Вы даете свое согласие на обработку<a href="#" class="data_mes_lk">персональных данных</a></label>
						</div>
						<div class="form_item al_center">
							<button class="blue_btn sendBtn" type="submit">Заказать звонок</button>
						</div>
					</form>
        </div>
			</div>
    </div>
  </div>
	<!--TMP END  -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/jquery-migrate-1.2.1.min.js"></script>
	<script src="js/script_temp.js"></script>
	</body>

</html>